@media (max-width:1660px) {
    .reviews-item{
        width: 650px;
    }
    .reviews-item-text{
        font-size: 15px;
    }
    .reviews-item-infomaintext{
        font-size: 20px;
    }
    .reviews-item-infotext{
        font-size: 15px;
    }
    .competence-item>img{
        width: 300px;
    }
    .partners-items{
        gap: 30px;
    }
}
@media (max-width:1550px) {
    .header-information-container{
        gap: 72px;
    }
    .mainproducts-items{
        gap: 60px;
    }
    .about-inform-container>img{
        gap: 60px;
        width: 610px;
        height: 407px;
    }
    .about-content-items{
        gap: 80px;
    }
    .business-container>img{
        width: 600px;
        height: 645px;
    }
    .partners-item>img{
        width: 80%;
        height: 90%;
    }
    .partners-item{    
        width: -webkit-fill-available;
        align-items: center;
        justify-content: center;
    }
    .footer-container{
        gap: 200px;
    }
    .footer-menus-container{
        gap: 120px;
    }
    .footer-content-container{
        gap: 160px;
    }
    .about-inform-text{
        max-width: 505px;
    }
}
@media (max-width: 1470px){
    .mainproducts-items {
        gap: 40px;
    }
    .reviews-item {
        width: 550px;
    }
}
@media (max-width: 1440px){
    .header-container{
        gap: 67px;
    }
    .header-menu{
        gap: 34px;
    }
    .header-phone{
        font-size: 16px;
    }
    .header-menu-itemurl{
        font-size: 20px;
    }
    .main-container{
        flex-direction: column-reverse;
    }
    .automationmaintext{
        font-size: 40px;
    }
    .automationtext-container{
        gap: 20px;
    }
    .automationmain-container{
        gap: 30px;
    }
    .automationtext{
        font-size: 20px;
        max-width: 700px;
    }
    .automationtext-url{
        font-size:20px;
    }
    .automation-btn-connect{
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
    .automation-btn-extend{
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
    .mainproducts-items{
        gap: 0px;
        flex-wrap: wrap;
        column-gap: 95px;
        row-gap: 30px;
        width: 1231px;
    }
    .mainproducts-item{
        gap: 23px;
    }
    .helped-maintext{
        font-size: 50px;
    }
    .helped-item{
        width: 610px;
        height: 336px;
        gap: 20px;
        padding-top: 30px;
    }
    .helped-item-maintext{
        font-size: 30px;
    }
    .helped-item-text{
        font-size: 18px;
    }
    .servicesall-btn{
        width: 324px;
        height: 53px;
        font-size: 20px;
    }
    .iteraction-maintext{
        font-size: 50px;
    }
    .iteraction-text{
        font-size: 20px;
        max-width: 957px; 
        text-align: left;
    }
    .iteraction-item{
        width: 610px;
        height: 310px;
    }
    .iteraction-items {
        row-gap: 20px;
    }
    .iteractionsall-btn{
        width: 295px;
        height: 53px;
        font-size: 20px;
    }
    .about-maintext{
        font-size: 50px;
    }
    .about-inform-text{
        font-size: 20px;
    }
    .about-inform-url{
        font-size: 20px;
    }
    .about-inform-container{
        gap: 126px;
    }
    .about-item-maintext{
        font-family: "Nunito2";
        font-size: 50px;
        line-height: 68px;
    }
    .about-item-text{
        font-size: 20px;
        max-width: 240px;
    }
    .whatabout-maintext{
        font-size: 50px;
    }
    .whatabout-item-maintext{
        font-size: 20px;
        max-width: 212px;
        font-family: 'Raleway3';
    }
    .whatabout-item-text{
        font-size: 14px;
    }
    .whatabout-item>img{
        height: 122px;
    }
    .whatabout-items{
        gap: 20px;
    }
    .business-information-maintext{
        font-size: 50px;
        max-width: 500px;
    }
    .business-information-maintext-blue{
        font-size: 50px;
    }
    .business-information-text{
        max-width: 610px;
        font-size: 20px;
    }
    .business-btn{
        width: 272px;
        height: 53px;
        font-size: 20px;
    }
    .business-container>img{
        width: 505px;
        height: 591px;
    }
    .reviews-maintext{
        font-size: 50px;
    }
    .partners-maintext{
        font-size: 50px;
    }
    .reviews-item{
        width: 610px;
        height: 297px;
    }
    .competence-maintext{
        font-size: 50px;
    }
    .contacts-maintext{
        font-size: 50px;
    }
    .footer-rights-protect-text{
        font-size: 12px;
    }
    .footer-menu-item-url{
        font-size: 15px;
    }
    .footer-menus-item-text{
        font-size: 20px;
    }
    .footer-contacts-mailtext{
        font-size: 15px;
    }
    .footer-contacts-phonetext{
        font-size: 15px;
    }
    .footer-rights-protect>img{
        width: 85px;
        height: 26px;
    }
    .footer-contacts-btn{
        width: 190px;
        height: 40px;
    }
    .footer-contacts-btn-text{
        font-size: 14px;
    }
    .footer-contacts-feedback>a>img{
        width: 26px;
        height: 26px;
    }

}