* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

section {
    background-color: #FFFFFF;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: "Raleway1";
    src: url("/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway2";
    src: url("/fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway3";
    src: url("/fonts/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: "Nunito1";
    src: url("/fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: "Nunito2";
    src: url("/fonts/Nunito-Light.ttf");
}

@font-face {
    font-family: "Montserrat1";
    src: url("/fonts/Montserrat-Regular.ttf");
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid rgb(0, 91, 190);
}

.header-container {
    display: flex;
    flex-direction: row;
    gap: 114px;
}

.header-information-container {
    display: flex;
    flex-direction: row;
    gap: 135px;
    align-items: center;
    justify-content: center;
}

.header-menu {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    gap: 44px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.header-menu-item {
    display: flex;
}

.header-menu-itemurl.text:active,
.header-menu-itemurl.text:hover,
.header-menu-itemurl.text {
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.header-menu-itemurl {
    color: rgb(36, 36, 36);
    font-family: "Raleway1", sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: left;
}

.header-connection {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.header-phone {
    color: rgb(36, 36, 36);
    font-family: "Nunito1";
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 4%;
    text-align: left;
}

.header-btn-connection {
    display: flex;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    width: 280px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(0, 91, 190);
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-btn-connection-text {
    color: rgb(255, 255, 255);
    font-family: "Raleway2";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 4%;
    text-align: left;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 115px;
    padding-bottom: 38px;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main-content-textcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
}

.main-content-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 4%;
    text-align: left;
    max-width: 542px;
}

.main-content-text {
    font-family: "Raleway2";
    font-size: 25px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: left;
    max-width: 614px;
}

.main-content-texturl {
    font-family: "Raleway2";
    font-size: 25px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: left;
    color: #006EFF;
    text-decoration: underline;
}

.main-content-texturl.text:active,
/* активная/посещенная ссылка */
.main-content-texturl.text:hover,
/* при наведении */
.main-content-texturl.text {
    text-decoration: none;
    color: #006EFF;
}

.main-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.main-btn-connection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: none;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 297px;
    height: 70px;
    color: rgb(0, 110, 255);
    font-family: "Raleway2";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: center;
    cursor: pointer;
}

.main-btn-exchange {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    outline: none;
    cursor: pointer;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
    font-family: "Raleway2";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: center;
    width: 297px;
    height: 70px;
}

.helped-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 38px;
    padding-bottom: 50px;
}

.helped-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.helped-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: center;
}

.helped-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.helped-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    width: 749.51px;
    height: 448px;
}

.helped-item-textcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    height: 207px;
}

.helped-item-textcontent-all {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
}

.helped-item-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 4%;
    text-align: left;
}

.helped-item-text-container-all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.helped-item-text {
    color: rgb(120, 120, 120);
    font-family: "Raleway2";
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: left;
    max-width: 569px;
}

.helped-btns-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.helped-item-image {
    display: flex;
    position: relative;
}

.helped-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.helped-item-functional {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 315px;
}

.helped-btn-connect {
    display: flex;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(0, 91, 190);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 91, 190);
    font-family: "Raleway2";
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 4%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.helped-btn-extend {
    display: flex;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(0, 91, 190);
    color: rgb(255, 255, 255);
    font-family: "Raleway2";
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 4%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.servicesall-btn {
    display: flex;
    width: 388px;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(0, 91, 190);
    color: rgb(255, 255, 255);
    font-family: "Raleway2";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: center;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.iteraction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.iteraction-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.iteraction-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.iteraction-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: center;
}

.iteraction-text {
    color: rgb(120, 120, 120);
    font-family: "Raleway2";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: left;
    max-width: 1006px;
}

.iteraction-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.iteraction-item {
    display: flex;
    flex-direction: column;
    width: 622px;
    height: 310px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    gap: 15px;
    padding-top: 30px;
    padding-left: 20px;
    align-items: flex-start;
    padding-right: 25px;
}

.iteraction-item-textcontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.iteraction-stageblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(0, 91, 190);
}

.iteraction-stageblock-text {
    color: rgb(255, 255, 255);
    font-family: "Raleway2";
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 4%;
    text-align: center;
}

.iteraction-item-maintext {
    color: rgb(0, 0, 0);
    font-family: "Raleway2";
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 4%;
    text-align: left;
}

.iteraction-item-text {
    color: rgb(120, 120, 120);
    font-family: "Raleway2";
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: left;
}

.iteractionsall-btn {
    display: flex;
    width: 338px;
    height: 70px;
    border: 2px solid rgb(0, 91, 190);
    border-radius: 5px;
    background-color: rgb(0, 91, 190);
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: "Raleway2";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: center;
    cursor: pointer;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: center;
}

.about-content-container {
    display: flex;
    flex-direction: column;
    gap: 68px;
    align-items: center;
    justify-content: center;
}

.about-inform-container {
    display: flex;
    flex-direction: row;
    gap: 62px;
    align-items: center;
    justify-content: center;
}

.about-inform-text {
    font-family: "Raleway1";
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 4%;
    text-align: left;
    max-width: 705px;
}

.about-content-items {
    display: flex;
    flex-direction: row;
    gap: 128px;
    align-items: flex-start;
}

.about-item {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    justify-content: center;
}

.about-item-maintext {
    color: rgb(0, 91, 190);
    font-family: "Nunito2";
    font-size: 60px;
    font-weight: 300;
    line-height: 82px;
    letter-spacing: 4%;
    text-align: center;
}

.about-item-text {
    color: rgb(0, 0, 0);
    font-family: "Raleway3";
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 4%;
    text-align: center;
    max-width: 334px;
}

.about-inform-url {
    font-family: "Raleway1";
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 4%;
    text-align: left;
    color: #005BBE;
}

.about-inform-url.text:active,
.about-inform-url.text:hover,
.about-inform-url.text {
    color: #005BBE;
}

.whatabout-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.whatabout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.whatabout-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: center;
}

.whatabout-items {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
}

.whatabout-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.whatabout-item-textcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.whatabout-item-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 4%;
    text-align: center;
    max-width: 224px;
}

.whatabout-item-text {
    color: rgb(120, 120, 120);
    font-family: "Raleway2";
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 4%;
    text-align: center;
    max-width: 325px;
}

.whatabout-item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.whatabout-item-maintext-blue {
    color: #005BBE;
    font-family: "Raleway2";
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 4%;
    text-align: center;
}

.business-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.business-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.business-information-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.business-information-maintext {
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: left;
    max-width: 636px;
}

.business-information-maintext-blue {
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: left;
    color: #005BBE;
}

.business-information-text {
    color: rgb(120, 120, 120);
    font-family: "Raleway2";
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 4%;
    text-align: left;
    max-width: 750px;
}

.business-btn {
    display: flex;
    width: 363px;
    height: 70px;
    outline: none;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 91, 190);
    color: rgb(255, 255, 255);
    font-family: "Raleway2";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.reviews-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: center;
}

.reviews-slider-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.reviews-slider-leftbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(22, 21, 22);
    background-color: rgb(255, 255, 255);
}

.reviews-slider-rightbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(22, 21, 22);
    background-color: rgb(255, 255, 255);
}

.reviews-slider-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reviews-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reviews-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 751px;
    height: 369px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 39px;
}

.reviews-item-profile {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reviews-item-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.reviews-item-infomaintext {
    color: rgb(38, 50, 56);
    font-family: "Raleway3";
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0%;
    text-align: left;
}

.reviews-item-infotext {
    color: rgb(120, 120, 120);
    font-family: "Raleway2";
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.reviews-item-profilecontent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

.helped-btn-extend:hover {
    color: rgb(0, 91, 190);
    background: white;
    border: 2px solid rgb(0, 91, 190);
}

.helped-btn-connect:hover {
    color: white;
    background: rgb(0, 91, 190);
    border: none;
}

.reviews-item-text {
    color: rgb(120, 120, 120);
    font-family: "Raleway2";
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.reviews-slider-dots {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.reviews-slider-dot-active {
    display: flex;
    width: 51.02px;
    height: 11.01px;
    border-radius: 10px;
    background-color: rgb(0, 91, 190);
    cursor: pointer;
}

.reviews-slider-dot {
    display: flex;
    width: 51.02px;
    height: 11.01px;
    border-radius: 10px;
    background: rgb(207, 207, 207);
    cursor: pointer;
}

.partners-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.partners-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.partners-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: center;
}

.partners-items {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.partners-item {
    display: flex;
    flex-direction: column;
}

.partners-item>img {
    opacity: 0.6;
}

.partners-item>img:hover {
    opacity: 1;
}

.competence-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.competence-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.competence-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 4%;
    text-align: center;
}

.competence-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.competence-item {
    display: flex;
    flex-direction: column;
}

.competence-slider-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.competence-slider-dots {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.competence-slider-dot-active {
    display: flex;
    width: 51.02px;
    height: 11.01px;
    border-radius: 10px;
    background-color: rgb(0, 91, 190);
    cursor: pointer;
}

.competence-slider-dot {
    display: flex;
    width: 51.02px;
    height: 11.01px;
    border-radius: 10px;
    background: rgb(207, 207, 207);
    cursor: pointer;
}

.competence-slider-leftbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(22, 21, 22);
    background-color: rgb(255, 255, 255);
}

.competence-slider-rightbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(22, 21, 22);
    background-color: rgb(255, 255, 255);
}

.contacts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contacts-maintext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 4%;
    text-align: center;
}

.contacts-content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.contacts-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contacts-content-mailtext.text:active,
.contacts-content-mailtext.text:hover,
.contacts-content-mailtext.text {
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.contacts-content-mailtext {
    color: rgb(36, 36, 36);
    font-family: "Raleway2";
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: center;
}

.contacts-content-phonetext {
    color: rgb(36, 36, 36);
    font-family: "Nunito2";
    font-size: 35px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -3%;
    text-align: center;
}

.contacts-content-text {
    color: rgb(120, 120, 120);
    font-family: "Raleway2";
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.contacts-content-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 29px;
}

.contacts-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contacts-content-officetext {
    color: rgb(36, 29, 38);
    font-family: "Raleway2";
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 239px;
}

.footer-rights-protect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
    gap: 126px;
}

.footer-rights-protect-text {
    color: rgb(36, 29, 38);
    font-family: "Montserrat1";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 216px;
}

.footer-menus-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 175px;
}

.footer-menus-item {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-menus-item-text {
    color: rgb(132, 132, 132);
    font-family: "Raleway3";
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 0px;
    margin: 0px;
}

.footer-menu-item {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.footer-menu-item-url.text:active,
.footer-menu-item-url.text:hover,
.footer-menu-item-url.text {
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.footer-menu-item-url {
    color: rgb(36, 29, 38);
    font-family: "Raleway3";
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 21px;
}

.footer-contacts-mailtext {
    color: rgb(36, 29, 38);
    font-family: "Raleway3";
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-contacts-phonetext {
    color: rgb(36, 29, 38);
    font-family: "Nunito1";
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -3%;
    text-align: left;
}

.footer-contacts-urls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.footer-contacts-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.footer-contacts-feedback {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-contacts-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 227px;
    height: 50px;
    border: 1px solid rgb(0, 91, 190);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    outline: none;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.footer-contacts-btn-text {
    color: rgb(0, 91, 190);
    font-family: "Raleway2";
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 4%;
    text-align: left;
}

.whatabout-image {
    transition: 500ms;
}

.whatabout-image:hover {
    transform: scale(1.1);
}

